[submodule "MS-2SMR"]
	path = MS-2SMR
	url = https://github.com/davidroad/MS-2SMR
[submodule "MS-PRGenes"]
	path = MS-PRGenes
	url = https://github.com/davidroad/MS-PRGenes
[submodule "DrugRepositioning_Cogena"]
	path = DrugRepositioning_Cogena
	url = https://github.com/davidroad/DrugRepositioning_Cogena
